*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(images/amazon_logo.png);
        height: 50px;
        width: 100px;
        background-size: cover;
}
.border{
    border: 2px solid transparent;

}
.border:hover{
    border: 1px solid white;
}
/* ------box2------ */
.nav-address{
    
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 21px;
}
.add-sec{

}
.icon-address{
    display: flex;
    align-items: center;
}
/* ------box3------ */
.nav-search{
    display: flex;
    width: 600px;
    height: 40px;
    border-radius: 4px;
    
}
.search-icon{
   color: #d1940f;
}
.nav-search{
    justify-content: space-evenly;
    /* border: transparent; */
}
.search-input:hover{
    border:2px solid #f39d09;
}
.search-input{
    width: 100%;
    font-size: 1rem ;
    border: none;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    margin-left: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-select:hover{
    border:2px solid #f39d09;
}
.search-icon{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #feb608;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;

}

/* box4 */
span{
    font-size: 0.7rem;
}
.lower-text{
    font-size: 0.85rem;
    font-weight: bold;
}
.nav-cart i{
    font-size: 30px;

}
/******mini-nav********/
.mini-nav{
    height: 40px;
    background-color: #232f3e;
     display: flex;
     color: white;
     align-items: center;
     justify-content:space-evenly;
    
}
.bar-icon{
    margin-top: 10px;
}
.mininav-content{
    width: 75%;
     margin-top: 10px;
}
.mininav-content p{
    display: inline;
    color: white;
    margin-left: 18px;
}
.mininav-content p:hover{
color: orange;
}
/* *****hero section***** */
.hero-section{
    background-image: url(images/hero-imagef.jpg);
    background-size: cover;
    /* width: 1500px; */
    height: 300px;
}

/* ----------shop section------*/
.shop-section{
       display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    background-color: rgb(231, 130, 237);
    flex-wrap: wrap;
    overflow: hidden;

}
.box{
    width: 23%;
    height: 400px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-image{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
/* ********footer********* */
.footer-panel1{
    height: 50px;
    background-color: #0f1111;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
html{
    scroll-behavior: smooth;
}

.footer-panel1 a{
color: #cccccc;
text-decoration: none;
}
.footer-panel2{
    border-top: 1px solid white;
    height: 200px;
    color: #cccccc;
    background-color: #232727;
    display: flex;
    justify-content: space-evenly;    
}
ul p{
    margin-top: 20px;
    font-weight: bold;
}
ul a{
    color: #c2c1c1;
    display: block;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 1px;
}
ul a:hover{
    color:orange;
    text-decoration: underline;
}
.footer-panel3{
    height: 140px;
    text-align: center;
    background-color: #0f1111;
    
}
.footer-panel3 a{
color: #cccccc;
text-decoration: none;
margin-left: 15px;
font-size: small;
display: inline-block;   /* very important    */
margin-top: 20px;

}
.footer-panel3 a:hover{
    color:orange;
    text-decoration: underline;
}
.copyright {
    text-align: center;
    color: #cccccc;
    padding-top: 10px;
}
.footer-logo{
    background-color:#0f1111;
    height: 50px;
    width: 100px;
    background-size:cover;
      background-image: url(images/amazon_logo.png);
      margin-top: 10px;
      margin-left: 50%;
      
    
}
.footer-panel3 p{
    margin-left: 8%;
    font-size: small;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
